html, body {
    box-sizing: border-box;
}

pre {
    font-family: Hack, Fira Code, monospace;
    font-size: 14px;
}

.bold {

}

.black {

}

.red {

}

.green {

}

.yellow {

}

.orange {

}

.blue {

}

.magenta {

}

.cyan {

}

.white {

}

.reset {

}
