<html>
  <head>
    <title>monfetch</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    {% for client in clients %}
    <div class="pre">
{% autoescape false %}
{{ client["logo"][0] }}<span class="bold {{ client["color"] }}">{{ client["hostname"] }}</span>
{{ client["logo"][1] }}{{ client["text"][0] }}
{{ client["logo"][2] }}{{ client["text"][1] }}
{{ client["logo"][3] }}{{ client["text"][2] }}
{{ client["logo"][4] }}{{ client["text"][3] }}
{{ client["logo"][5] }}{{ client["text"][4] }}
{{ client["logo"][6] }}{{ client["text"][5] }}
{{ client["logo"][7] }}{{ client["text"][6] }}
{{ client["logo"][8] }}{{ client["text"][7] }}
{{ client["logo"][9] }}{{ client["text"][8] }}
{% endautoescape %}
    </div>
    {% endfor %}
  </body>
</html>
